body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #000000;
}

body a:hover {
   text-decoration: none !important;
   text-transform: uppercase;
   color:#FFFFFF;
 }

canvas {
   margin:0 auto;
   display:block;
 }

 #change {
 position: relative;
 font-size: 63px;
 color: #FFFFFF;
 }

 .container-full{
   margin-top: 50px;
 }

.logo{
  margin-top: 5px;
}

.bleach {
  border-style: hidden;
  background-color: none;
}

.neutralize{
  background-color: none;
}

.hero{
  height:350px;
  width:100%;
  color: #FFFFFF;
  line-height: 1.5;
}

.navbar-end{
  justify-content: flex-end;
  margin-left: auto;
}

.navbar-item{
  color:#FFFFFF;
  padding: .5rem 1rem;
  position: relative;
  text-decoration: none;
}

.navbar-item a{
  color:#FFFFFF;
}
