body{
  font-weight: lighter;
  background-color: #000000;
}

body a:hover {
   text-decoration: none !important;
   color:#b61924;
 }


 #change {
 position: relative;
 font-size: 63px;
 }


.container-full{
   padding-top:50px;
   z-index: 0;
   height:400px;
 }

.logo{
  margin-top: 5px;
}

.bleach{
  color:#FFFFFF;
}


.fpv-blue {
  border-style: hidden;
  background-color: #110022;
  color: #FFFFFF;
}

.fpv-red{
  background-color: #b61924;
  color:#FFFFFF;
}


.neutralize{
  background-color: none;
}

.hero{
  min-height:350px;
  width:100%;
  line-height: 1.5;
  display: block;
  margin-top: 140px;
}

.navbar-end{
  justify-content: flex-end;
  margin-left: auto;
}

.navbar{
  background-color: #000000;
  color:#FFFFFF;
  border-bottom: #b61924 3px solid;
}

.nav-item{
  color:#FFFFFF;
  padding: .5rem 1rem;
  position: relative;
  text-decoration: none;
}

.nav-item a{
  color:#FFFFFF;
}

.accentuate-right{
  border-right: #b61924 3px solid;
}

.accentuate-bottom{
  border-bottom: #b61924 3px solid;
}

.accentuate-top{
  border-top: #b61924 3px solid;
}

.accentuate-left{
  border-left: #b61924 3px solid;
}

.waves {
  position: relative;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
}

.wave, .waves:before, .waves:after {
  position: absolute;
  background: white;
  margin-left: -12px;
  margin-top: -12px;
  width: 50px;
  height: 50px;
  content: "";
  display: block;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
}

.waves:before {
  animation: wave-animate 3s infinite ease-out;
}

.spacer{
  height:60px;
  display: block;
}

.waves:after {
  opacity: 0;
  animation: wave-animate 3s 1.5s infinite ease-out;
}

@keyframes wave-animate {
  0% {
    transform: scale(0);
    opacity: 1;
    transform-origin: center;
  }
  100% {
    transform: scale(3);
    opacity: 0;
    transform-origin: center;
  }
}

#canvas-wrapper { position:relative; width:100%; height:40%; }
#canvas-wrapper canvas { position:absolute; top:0; left:0; z-index:-999 }
