body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #000000;
}

body a:hover {
   text-decoration: none !important;
   text-transform: uppercase;
   color:#FFFFFF;
 }


 #change {
 position: relative;
 font-size: 63px;
 }

 .container-full{
   padding-top:50px;
   z-index: 0;
 }

.logo{
  margin-top: 5px;
}

.bleach {
  border-style: hidden;
  background-color: white;
  color: #000000;
}

.neutralize{
  background-color: none;
}

.hero{
  height:350px;
  width:100%;
  line-height: 1.5;
}

.navbar-end{
  justify-content: flex-end;
  margin-left: auto;
}

.navbar-item{
  color:#FFFFFF;
  padding: .5rem 1rem;
  position: relative;
  text-decoration: none;
}

.navbar-item a{
  color:#FFFFFF;
}



.waves {
  position: relative;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
}

.wave, .waves:before, .waves:after {
  position: absolute;
  background: white;
  margin-left: -12px;
  margin-top: -12px;
  width: 50px;
  height: 50px;
  content: "";
  display: block;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
}

.waves:before {
  animation: wave-animate 3s infinite ease-out;
}

.spacer{
  height:60px;
  display: block;
}

.waves:after {
  opacity: 0;
  animation: wave-animate 3s 1.5s infinite ease-out;
}

@keyframes wave-animate {
  0% {
    transform: scale(0);
    opacity: 1;
    transform-origin: center;
  }
  100% {
    transform: scale(3);
    opacity: 0;
    transform-origin: center;
  }
}

#canvas-wrapper { position:relative; width:100%; height:40%; }
#canvas-wrapper canvas { position:absolute; top:0; left:0; z-index:-999 }
